<% @user = current_user %>
<% @confirmed_rentals = @user.rentals.confirmed %>
<% @archived_rentals = @user.rentals.archived %>

<h1>Welcome, <%= @user.email%>!</h1>
<p>Rating: <%= @user.rating%></p>

<% if @user.rentals.any? %>
  <h3>Rentals:</h3>
  <table class='table table-striped'>
    <thead class='thead-dark'>
      <tr>
        <th>Product</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Total Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @user.rentals.order(:status).each do |rental| %>
        <tr>
          <td><%= rental.product.name %></td>
          <td><%= rental.start_date %></td>
          <td><%= rental.end_date %></td>
          <td><%= rental.total_price %> $</td>
          <td><%= rental.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<%= link_to "Edit my account", edit_user_path(@user) %>
<%= form_with(url: request_owner_access_path, method: :post) do |form| %>
  <%= form.submit "Request owner rights" %>
<% end %>