<% @user = current_user %>

<h1>Welcome, <%= @user.email%>!</h1>
<p>Rating: <%= @user.rating%></p>
<% if @user.rentals.empty? %>
    <p>You do not have any rentals! </p>
<% elsif @user.rentals%>
    <h4>Current Rentals</h4>
      <ul>
        <% @user.rentals.each do |rental| %>
          <li>
          <%= link_to "#{rental.product.name} from #{rental.start_date} to #{rental.end_date}. Total price: #{rental.total_price}$", [rental] %>
        </li>
      <% end %>
    </ul><br>
<% end %>

<%= link_to "Edit my account", edit_user_path(@user) %>
<%= form_with(url: request_owner_access_path, method: :post) do |form| %>
  <%= form.submit "Request owner rights" %>
<% end %>
