<h1>Rentals</h1>

<table class='table table-striped table-hover'>
  <thead class='thead-dark'>
    <tr>
      <th>Product</th>
      <th>Salon</th>
      <th>Start date</th>
      <th>End date</th>
      <th>User email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.product.name %></td>
        <td><%= rental.product.salon.name %></td>
        <td><%= rental.start_date %></td>
        <td><%= rental.end_date %></td>
        <td><%= rental.user.email %></td>
        <td><%= link_to "Edit", edit_admin_rental_path(rental), class: 'btn btn-warning' %></td>
        <td><%= link_to "Destroy", admin_rental_path(rental), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>