<h1>Salons</h1>

<% if current_user&.admin? %>
  <h3><%= link_to 'Create new salon', new_admin_salon_path %></h3>
<% elsif current_user&.owner? %>
  <h3><%= link_to 'Create new salon', new_owner_salon_path %></h3>
<% end %>


<div>
  <% @salons.each do |salon| %>
    <%= render salon %>
    <p>
      <%= link_to "Explore this salon's products", salon %>
    </p>
    
    <% if current_user&.admin? %>
      <p><%= link_to 'Edit',  edit_admin_salon_path(salon) %>  <%= link_to 'Destroy', admin_salon_path(salon) , data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></p>
    <% elsif current_user.salons.include?(salon) %>
      <p><%= link_to 'Edit',  edit_owner_salon_path(salon) %>  <%= link_to 'Destroy', owner_salon_path(salon) , data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></p>
    <% end %>
  <% end %>
</div>