<%= render @salon %>

<h2>This salon offers these products:</h2>
<ul>
  <% @salon.products.each do |product| %>
    <li><%= link_to "#{product.name}", product %></li>
  <% end %>
</ul>

<div>
  <h2>Comments</h2>
  <% if @salon.comments.any? %>
    <% @salon.comments.each do |comment| %>
      <div>
        <p><strong><%= comment.user.email %></strong></p>
        <p><%= comment.content %></p>
      
        <% if current_user == comment.user %>
          <%= link_to 'Edit', edit_salon_comment_path(@salon, comment) %>
          <%= link_to 'Delete', salon_comment_path(@salon, comment), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No comments yet.</p>
  <% end %>
</div>

<% if user_signed_in? %>
  <div>
    <%= form_for [@salon, Comment.new] do |f| %>
      <div>
        <%= f.label :content, "Leave a comment" %><br>
        <%= f.text_area :content, rows: "3"%>
      </div>
      <%= f.submit "Submit"%>
    <% end %>
  </div>
<% else %>
  <p>You need to <%= link_to "sign in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to leave a comment.</p>
<% end %>

