<div class="container mt-4">
  <h1 class="text-center mb-5 mt-2">Edit this salon</h1>

  <%= render 'form', salon: @salon %>
  <%= link_to 'Add new product',  new_owner_salon_product_path(@salon), class: "btn btn-light" %>
  <%= link_to 'Show this salon', salon_path(@salon), class: "btn btn-light" %>
  <%= link_to 'Back to salons', salons_path, class: "btn btn-light" %>
  <%= link_to 'Destroy', owner_salon_path(@salon), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
</div>

