<div class="card-deck text-center mt-2">
<h1>Search results for "<%= params[:query] %>"</h1>
  <% if @products.any? %>
    <% @products.each_slice(3) do |products_slice| %>
      <div class="row justify-content-center">
        <% products_slice.each do |product| %>
          <div class="col-md-3">
            <div class="card mb-3">
              <%= image_tag product.photo_url(:medium), class: "card-img-top", height: "450", style: "object-fit: cover"%>
              <div class="card-body">
                <h5 class="card-title"><%= product.name %></h5>
                <p class="card-text"><%= number_to_currency(product.price) %></p>
              </div>
              <div class="card-footer">
                <%= link_to "Show this product", product, class: "btn btn-primary" %>
                <% if user_signed_in? %>
                  <% if current_user.admin? %>
                    <%= link_to 'Edit',  edit_admin_product_path(product), class: "btn btn-secondary" %>
                  <% elsif current_user.salons.joins(:products).where("products.id = ?", product.id).exists? %>
                    <%= link_to 'Edit',  edit_owner_product_path(product), class: "btn btn-secondary" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No products found.</p>
  <% end %>
</div>