<div class="d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <div class="mr-3">
      <%= t('switch_language') %>
    </div>
    <%= link_to "English", url_for(locale: :en), class: "mr-3 btn btn-primary" %>
    <%= link_to "Русский", url_for(locale: :ru), class: "btn btn-primary" %>
  </div>

  <%= form_for :query, url: search_products_path, method: :get, html: { class: "form-inline my-2 my-lg-0" } do |form| %>
    <div class="d-flex justify-content-end align-items-center">
      <%= text_field_tag :query, params[:query], class: "form-control mr-sm-2", placeholder: t('search') %>
      <%= submit_tag t('search'), name: nil, class: "btn btn-primary my-2 my-sm-0 mr-sm-2" %>
    </div>
  <% end %>
</div>